go 1.25.0

use (
	.
	./config
	./database
	./examples/mini_application
	./examples/http_application
	./examples/gnet_application
	./metrics
	./logger/zap_logger
	logger
	validator
	./scheduler
	http/fiber
	database/bun
	eventbus
	http
	cli
	./http/jwt
	cache
	gnet
)
